article {
  border-radius: 6px;
  margin-bottom: 2em;

  header {
    border-radius: 5px 5px 0 0;
    justify-content: left;
    margin-bottom: 0;
    padding: .5em 1em .75em 1em;

    h1 {
      margin-bottom: .5em;
    }

    .headerMeta {
      font-style: oblique;
      margin-left: 5px;
    }

    .keywordContainer {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

  }

  a {
    color: steelblue;
    text-decoration: underline;
  }

  h3 {
    margin-top: 1.75em;
  }
  .headerImage {
    box-shadow: 0 6px 12px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.45rem;
  }
  section {
    font-size: 22px;
    line-height: 30px;
    padding: .5em 1em .5em 1em;
  }
  
  li {
    display: list-item;
  }
}

.bottomNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  .navLink {
    width: 50%;
  }
}
