.card {
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;

  .image {
    max-width: 885px;
    width: -webkit-fill-available;
  }

  ul li {
    list-style-type: circle;
    display: list-item;
  }

  .label {
    font-style: oblique;
  }

  .pillContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}