.article {
  border-radius: 6px;
  margin-bottom: 1.5em;
  transition: background .2s;

  .postHeader {
    a {
      color: black;
      text-decoration: none;
    }
  }
  &header {
    border-radius: 5px 5px 0 0;
    justify-content: left;
    margin-bottom: 0;
    padding: .5em 1em .5em 1em;
  }

  h3 {
    color: black;
    margin-bottom: 0;
  }

  .pillContainer {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  section {
    padding: .5em 1em .5em 1em;
  }
}
