.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .title {
    height: min-content;
    margin: 1em;
    
    &:hover {
      color: #fff;
    }
  }

  a {
    font-size: 22px;
    text-decoration: inherit;
  }

  ul {
    margin: 0;
    li {
      display: inline-block;
      margin-bottom: 0;
      padding: 1em;
    }
  }
}

@media only screen and (max-width: 540px) {
  .wrapper {
    flex-direction: column;
  
    .title {
      margin: .5em;
    }

    ul li {
      padding: .75em;
    }
  }
}